<!DOCTYPE html>
<html>
  <head>
    <title>Oobr Eats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>
    <script>
      window.locationIcon = "<%= image_url('location_marker_logo.png') %>"
      window.menuIcon = "<%= image_url('menu_icon.png') %>"
      window.profile = "<%= image_url('profile.jpeg') %>"
      window.empty_cart = " <%= image_url('empty_cart.svg') %>"
    </script>
    
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
